.setting{
    padding: 5px 5px 5px 10px;
    transform: scale(1.2);
}
.setting:hover {
    background-color: white;
    color: #333;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.95;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: white;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .setting {
    background-color: white;
    color: #323229;
}